:root {
  /* neutral */
  --brand-neutral-50: #ffffff;
  --brand-neutral-100: #fefefe;
  --brand-neutral-200: #ebebeb;
  --brand-neutral-300: #e9e9e9;
  --brand-neutral-400: #959595;
  --brand-neutral-500: #85888d;
  --brand-neutral-600: #343434;
  --brand-neutral-700: #0b1722;
  --brand-neutral-800: #0c121b;
  --brand-neutral-900: #05090c;
  --brand-neutral-950: #010101;
  /* blue */
  --brand-blue-50: #81a3be;
  --brand-blue-100: #77848c;
  --brand-blue-200: #6c849c;
  --brand-blue-300: #45698b;
  --brand-blue-400: #485565;
  --brand-blue-600: #2d5375;
  --brand-blue-700: #1b364d;
  --brand-blue-800: #1a3554;
  --brand-blue-900: #0e344f;
  --brand-blue-950: #21262a;
  /* cyan */
  --brand-cyan-50: #a3c7d3;
  --brand-cyan-200: #87b7bb;
  --brand-cyan-400: #1ec9bb;
  --brand-cyan-600: #1ab3ae;
  --brand-cyan-800: #196b89;
  --brand-cyan-950: #1a4b52;
}
